$hot_pink: rgb(252, 91, 168);
$pagination-spacing: 1rem;

.banner-section {
  margin-bottom: $pagination-spacing;

  .banner-swiper {
    padding-top: 1.5rem;

    .swiper-pagination {
      position: static;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      padding-top: $pagination-spacing;

      .swiper-pagination-bullet-active {
        background-color: $hot_pink;
      }
    }
  }
}
