.list-section {
  background-color: rgb(235, 235, 235);
  padding: 0 1rem 1rem;

  .title {
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1.7rem 0;
  }

  .list {
    display: grid;
    gap: 0.5rem;
  }
}
