$pink: rgb(255, 177, 178);

.header {
  .header-current {
    background-color: $pink;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem 0;
  }

  .header-swiper {
    padding: 0.5rem 0.5rem;
    border-top: 1.3px solid $pink;
    border-bottom: 1.3px solid $pink;

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .header-item {
      color: black;
      padding: 0.1rem 0;
    }

    .header-item.active {
      border-bottom: 1px solid black;
    }
  }
}
